html, body {
    min-height: 100%; /* Garante que o body ocupe toda a altura da janela */
    display: flex;
    flex-direction: column; /* Permite organizar o conteúdo em coluna */
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e1dfe7;
    background-image: url('../img/logo-branco.png'); /* Imagem de fundo */
    background-size: 920px; /* Faz a imagem de fundo cobrir toda a tela */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Não repete a imagem de fundo */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex: 1; /* Faz o conteúdo principal ocupar o espaço disponível */
}

.conteudo-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.texto {
    flex: 1;
    color: black;
}
  
.portais-container {
    background: rgba(5, 5, 143, 0);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0)
    
}

.portais-container2 {
    background: rgba(5, 5, 143, 0);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid #00000000;
    padding: 50px;
    width: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0)
    
}

header {
    background-color: #0000CD;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

nav ul {
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    position: relative; /* Garante que o dropdown seja posicionado corretamente */
    z-index: 10; /* Coloca o menu acima de outros elementos */
}

nav ul li {
    display: block;
    position: relative;
    padding: 10px 20px;
    
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ffffff;
    color: #0000CD;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0000CD;
    list-style: none;
    padding: 0px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 20; /* Garante que o submenu sobreponha o rodapé */
    max-height: 300px; /* Limita a altura do menu */
    overflow-y: auto; /* Adiciona barra de rolagem se necessário */
}

/* Estilo para a barra de rolagem */
.submenu::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.submenu::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Cor da barra */
    border-radius: 4px;
}

.submenu::-webkit-scrollbar-thumb:hover {
    background-color: #ffcc00; /* Cor ao passar o mouse */
}

.dropdown:hover .submenu {
    display: block;

}

.submenu li {
    padding: 8px 12px;
    border-bottom: 1px solid #ffffff;

}

.submenu li a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;

}

.submenu li a:hover {
    background-color: #ffffff;
    color: #000000;

}

.submenu li:last-child {
    border-bottom: none;

}

section {
    padding: 20px;

}

h1, h2, h3 {
    color: #0000CD;

}

.sub-section {
    background-color: #f0f8ff;
    border-left: 5px solid #0000CD;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;

}

ul {
    padding-left: 20px;

}

.checklist {
    background-color: #f0f8ff;
    border-left: 5px solid #0000CD;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    
}

#btnLimpar {
    background-color: #0000CD;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}

#btnLimpar:hover {
    background-color: #01019c;
    color: #ffffff;

}

.logo {
    height: 40px; /* Ajuste conforme necessário */
    margin-right: 25px; /* Espaço entre a logo e os itens do menu */
    padding: 0 15px; /* Espaço interno da logo */

}

nav {
    display: flex;
    align-items: center;
}

.comunicado-imagem-fixa {
    position: absolute;
    top: 130%;
    right: 40px; /* distância da borda direita da tela */
    transform: translateY(-50%);
    background: rgba(5, 5, 143, 0);
    border-radius: 20px;
    border: 2px solid #00000000;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
    z-index: 0; /* garante que fique por cima de outros elementos */
    max-width: 400px;
}

.imagem-bradesco {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer.footer {
    margin-top: auto; /* Empurra o rodapé para o final da página */
    background-color: #00008B; /* Azul escuro */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer.footer a {
    color: #ffffff;
    text-decoration: underline;
    margin: 0 5px;
}

footer.footer a:hover {
    color: #ffcc00; /* Amarelo para destaque */
}

